<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authory</title>  
    <link rel="icon" href="/images/icono_sense_fons.png" type="image/png">
    <link rel="stylesheet" href="/index.css">

</head>

<body>
    {{{body}}}  {{!-- Aquí se inserta el contenido de home.handlebars --}}
</body>
</html>
