<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authory</title>  
    <link rel="icon" href="/images/icono_sense_fons.png" type="image/png">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: rgb(35,79, 194);
            color: white;
            padding: 5px;
            text-align: center;
        }
        header img {
            max-height: 150px;
            vertical-align: middle;
        }
        nav {
            background-color: rgb(147,177, 238);
            color: white;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        section {
            padding-top: 5px;
            margin: 5px;
        }
        article {
            margin-bottom: 20px;
        }
        footer {
            background-color: rgb(35, 79, 194);
            color: white;
            text-align: center;
            padding: 25px;
        }
    </style>
</head>

<body>
    {{{body}}}  {{!-- Aquí se inserta el contenido de home.handlebars --}}
</body>
</html>
