
<header>
    <img src="/images/logo-fons-blau.png" alt="Logo principal" width="300" height="300">
</header>

<nav>
    <a href="texto1.html" target="_blank">Inicio</a>
        <a href="#servicios">Servicios</a>
        <a href="#noticias">Noticias</a>
        <a href="#contacto">Contacto</a>
</nav>

<section1>
    <h1>¡Bienvenidos a Authory!</h1>
    <p>Nuestra misión es que los <b><span style="color: rgb(237,81,59)">perezosos</span></b> hagan los trabajos de la universidad.</p>
</section1>

<article>
    <h2>Con nosotros di adiós a la Inteligencia Artificial</h2>
    <p>Es evidente que los profesores se quejan de formas públicas, como en <a href=https://www.elperiodico.com/es/sociedad/20250326/profesores-creen-alumnos-esfuerzan-menos-por-inteligencia-artificial-115700279>elPeriódico</a>.</p>
</article>

<section2>
    <div>
        <h2>Nuestros Servios</h2>
    <ul>
        <li>Estamos de parte de los profes.</li>
        <li>Nuevas formas de pillar ChatGPT.</li>
        <li>Prepárense alumnos, para pensar por vosotros mismos.</li>
    </ul>
    </div>
</section2>

<section3>
<form action="https://www.paginaprincipal.es/search">
    <label>
    <input type="search" name="q" autocomplete="off">
    <img src="/images/lupa.png" alt="icono lupa" height="50" width="90">
    </label>
    <input type="submit" value="Buscar">
</form>
</section3>

<footer>
    <adress>
        Si quieres contactar con nosotres, escribe a <s><span style="color:rgb(235, 46, 188)";>nomeimporta@puto.es</span></s>
    </adress>
</footer>

</body>